**/*schema.json
**/*schema.lua
**/dashboard/*.lua
**/icons/*.lua
**/keys/*.lua
**/lang/*.lua
*.d.ts
*.tsbuildinfo
*import.lua
lua/config/constants.lua
lua/schemas/*.lua
lua/utils/tailwindcss.lua
lualib_bundle.lua
node_modules
scripts/**/*.lua
scripts/language-pack.json
scripts/schemas/*.json
scripts/schemas/modes.ts
