**/*schema.json
**/*schema.lua
**/dashboard/*.lua
**/icons/*.lua
**/keys/*.lua
**/lang/*.lua
*import.lua
lua/config/constants.lua
lua/schemas/*.json
lua/schemas/*.lua
lua/schemas/modes.ts
lua/utils/tailwindcss.lua
lualib_bundle.lua
node_modules
scripts/language-pack.json
